*{
	margin:0;
	padding:0;
}

.head{
	
	height:80px;
	border-bottom:1px solid #400040;
	
	
}

a{
	
	text-decoration:none;
}

ul{
	list-style-type:none;
}


li{font-size:20px;}

.head ul li{
	display:inline-block;
	with:300px;
	heigh:100px;
}


.head ul li{ 
	line-height:40px; 
	text-align:center;
	position:relative; 
	float:left; 
	padding:0 5px;
}


 .head ul li a{ 
 	color:#000; 
 	display:block; 
 	width:90px;
}

 .head ul li a:hover{ 
 	color:#ff0000; 
 	display:block; 
 	width:90px;
}

.head ul li ul{
	width:90px; 
	display:none;
	position:absolute; 
}

.head ul li:hover ul{
	display:block;
}

.head ul li ul li{ 
 	float:none;
 	
	background:rgba(254,254,254,0.9);
}
.n1{
	display:block;
	float:left;
	margin:20px 0 0 20px;
}

.n2{
	
	display:block;
	float:right;
	margin:20px 20px auto 0;
	
}

.n2 li{
	padding:10px;
	
}

.project{
	margin:20px 20px 10px 20px;
	float:left;
	width:184px;
	height:160px;
	border-bottom:1px solid #c0c0c0;
}

.project:hover .projectname a{
	background:#eee;
	
} 


.picturlink{
	padding:5px;
}

.projectname{
	padding:0 0 3px 3px;
	margin:0 0 3px 3px;
	
	
}
.projectname a{
	display:block;
	font-size:16px;
	
}







