*{
	margin:0;
	padding:0;
}

.head{
	
	height:80px;
	background:red;
	border-bottom:1px solid #400040;
	
	
}

a{
	
	text-decoration:none;
}

ul{
	list-style-type:none;
}


li{font-size:20px;}

.head ul li{
	display:inline-block;
	with:300px;
	heigh:100px;
}


.n1{
	display:block;
	background:green;
	with:255;
	height:37;
	float:left;
	margin:20px 0 0 20px;
}

.n2{
	
	display:block;
	with:255;
	height:37;
	background:green;
	float:right;
	margin:20px 20px auto 0;
	
}

.n2 li{
	line-aling
	padding:10px;
	
}

.n2 li a{
	with:10px;
	heigth:10px;
}






